<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
</style>
<br />
<h1 align="center">Data</h1>
<ul [ngStyle]="{height: '50vh', display: 'block', overflow: 'scroll', border: 'gray solid 5px', width: '94%', margin: '0 auto' }">
  <li *ngFor="let item of list">
    userId {{ item.userId }} 
    id {{ item.id }} 

    <button (click)="openInfo(item,theBoundCallback)">Information</button>
    <button (click)="onFavorite(item)">Favorite</button> <br />completed: <input type="checkbox" [checked]="item.completed" (click)="prevdef($event)">
    <br /> 
    title: {{ item.title }}
  </li>
</ul>
<br />

<app-child-component [someInput]="favorites"></app-child-component>

<router-outlet></router-outlet>
