<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<input placeholder="num1" [value]="nums[0]" (keyup)="changeNum($event, 0)" />
<input placeholder="num2" [value]="nums[1]" (keyup)="changeNum($event, 1)" />
<button (click)="onCalculate()">Calculate</button>

<p *ngFor="let field of calculations | keyvalue">
  {{ field.key }} is {{ field.value }}
</p>
